<ion-header>
  <ion-toolbar>
    <ion-title>
      Past Visits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshVisits($event)">
    <ion-refresher-content
      pulling-text="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let restaurant of pastVisits">
      <ion-card-header>
        <ion-card-title>{{ restaurant.restaurant_id }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        You visited this place {{ restaurant.times }} times.
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
