<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="presentSortingOptions()">
        Sort
      </ion-button>
    </ion-buttons>
    <ion-title>
      Past Visits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshVisits($event)">
    <ion-refresher-content pulling-text="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let restaurant of pastVisitsTwo" [routerLink]="['/', 'restaurant', restaurant.pid]">
      <ion-card-header>
        <ion-card-title>{{ restaurant.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        You visited this place on {{ restaurant.date.seconds * 1000 | date: 'dd/MM/yyyy' }}.
      </ion-card-content>
    </ion-card>
  </ion-list>

  <div *ngIf="debug">
    <ion-button color="danger" (click)="showRestaurants()"
      >Add Random Place</ion-button
    >
  </div>
</ion-content>
