<ion-header>
  <ion-toolbar>
    <ion-title>Create your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <b>Create your account</b> <br />
        or sing in with exising one.
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">First Name</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Last Name</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Date of Birth</ion-label>
              <ion-datetime value="1990-02-19"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" *ngIf="showButton" (click)="slideForward()">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" *ngIf="showBackButton" (click)="slideBack()">
          Back
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
