<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="4" id="header">
          <div>
          <!-- <div id="header"> -->
            <p>
              Create An Account
            </p>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-sm="8" id="form">
            <!-- <div id="form"> -->
              <form #form="ngForm" [formGroup]="registerForm" (ngSubmit)="register(form)">
              <section padding="150px 50px 50px 50px">
                <h2>Personal Info</h2>
                <ion-label position="stacked">First Name</ion-label>
                <ion-input formControlName="first_name" type="text" [class.invalid]="!registerForm.controls.first_name.valid"></ion-input>
                <div *ngIf="registerForm.get('first_name').hasError('pattern')">
                  <p>❌ Please enter a valid first name.</p>
                </div>
                <ion-label position="stacked">Last Name</ion-label>
                <ion-input formControlName="last_name" type="text" [class.invalid]="!registerForm.controls.last_name.valid"></ion-input>
                <div *ngIf="registerForm.get('last_name').hasError('pattern')">
                  <p>❌ Please enter a valid last name.</p>
                </div>
                <ion-label position="stacked">E-mail</ion-label>
                <ion-input formControlName="email" type="email" [class.invalid]="!registerForm.controls.email.valid"></ion-input>
                <div *ngIf="registerForm.get('email').hasError('email')">
                  <p>❌ Please enter a valid e-mail.</p>
                </div>
              </section>
    
              <section padding="50px">
                <h2>Security</h2>
                <ion-label position="stacked">Password</ion-label>
                <ion-input formControlName="password" type="password" [class.invalid]="!registerForm.controls.password.valid"></ion-input>
                <div *ngIf="registerForm.get('password').hasError('pattern')">
                  <p>❌ Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</p>
                </div>
                <ion-label position="stacked">Confirmation</ion-label>
                <ion-input formControlName="confirm" type="password" [class.invalid]="!registerForm.controls.confirm.valid"></ion-input>
                <div *ngIf="registerForm.get('confirm').hasError('equalTo')">
                  <p>❌ Password Mismatch</p>
                </div>
              </section>
    
              <section padding="50px">
                <h2>Preferences</h2>
                <ion-slides>
                    <ion-slide *ngFor="let item of arrayOf(3)">
                      <ion-list class="option">
                        <ion-chip outline *ngFor="let item of this.foodPreferences" (click)="selectPreference(item)" [class.selected]="item.selected"> 
                            <ion-avatar>
                              <img src="../assets/img/{{item.name.toLowerCase()}}-flag-round-icon-256.png">
                            </ion-avatar>                
                            <ion-label>{{item.name}}</ion-label>
                          </ion-chip>
                      </ion-list>  
                    </ion-slide>
                </ion-slides>
              </section>

              <section padding="50px">
                  <ion-button expand="block" (click)="register(form)"color="danger">
                      Submit
                    </ion-button>
              </section>
              </form>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-content>
      
    <!-- 
    <ion-header no-border>
      <ion-toolbar>
        <ion-title>Create account</ion-title>
        <ion-buttons slot="secondary">
          <ion-button *ngIf="showBackButton" (click)="slideBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button (click)="returnToLogIn()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #form="ngForm" [formGroup]="registerForm" (ngSubmit)="register(form)">
        <ion-slides [options]="slideOpts">
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" class="ion-padding-vertical">
                    <ion-text>Let us know your <b>e-mail</b>.</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-text>Email</ion-text>
                  </ion-item>
                  <ion-item lines="none" id="rounded">
                    <!-- <ion-label position="floating">Enter email</ion-label> 
                    <ion-input formControlName="email" type="email" [class.invalid]="!registerForm.controls.email.valid"></ion-input>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>
                      <ion-row *ngIf="registerForm.get('email').hasError('email')">
                        <p text-wrap>Please enter a valid e-mail.</p>
                      </ion-row>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" class="ion-padding-vertical">
                    <ion-text>My name is <b>Esi</b>. What is your <b>name</b>?</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-text>First Name</ion-text>
                  </ion-item>
                  <ion-item lines="none" id="rounded">
                    <ion-input formControlName="first_name" type="text" [class.invalid]="!registerForm.controls.first_name.valid"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>  
              <ion-row>  
                <ion-col>
                  <ion-item lines="none">
                    <ion-text>Last Name</ion-text>
                  </ion-item>
                  <ion-item lines="none" id="rounded">
                    <ion-input formControlName="last_name" type="text" [class.invalid]="!registerForm.controls.last_name.valid"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-item lines="none">
                <ion-label>
                  <ion-row *ngIf="registerForm.get('first_name').hasError('pattern')">
                    <p>Please enter a valid first name.</p> 
                  </ion-row>
                  <ion-row *ngIf="registerForm.get('last_name').hasError('pattern')">
                    <p>Please enter a valid last name.</p>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" class="ion-padding-vertical">
                    My birthday is 8/5/2019. What is yours?
                  </ion-item>
                </ion-col>
              </ion-row> 
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-text>Date of Birth</ion-text>
                  </ion-item>
                  <ion-item lines="none" id="rounded">
                    <!-- <ion-datetime formControlName="date_of_birth" displayFormat="MMMM DD YYYY" readonly=true></ion-datetime> 
                    <ion-datetime formControlName="date_of_birth" displayFormat="MMMM DD YYYY"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" class="ion-padding-vertical">
                    Now let's set up a password.
                  </ion-item>
                </ion-col>
              </ion-row> 
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-text>Password</ion-text>
                  </ion-item>
                  <ion-item lines="none" id="rounded">
                    <ion-input formControlName="password" type="password" [class.invalid]="!registerForm.controls.password.valid"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-text>Password again</ion-text>
                  </ion-item>     
                  <ion-item lines="none" id="rounded">
                    <ion-input formControlName="confirm" type="password" [class.invalid]="!registerForm.controls.confirm.valid"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>  
                <ion-item lines="none">
                  <ion-label>
                    <ion-row>
                      <ion-col *ngIf="registerForm.get('password').hasError('pattern')">
                        <p text-wrap>Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</p> 
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="registerForm.get('confirm').hasError('equalTo')">
                      <p>Password Mismatch.</p>
                    </ion-row>
                  </ion-label>
                </ion-item>
            </ion-grid>
          </ion-slide>
          
          <ion-slide>
              <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none" class="ion-padding-vertical">
                        <ion-text>Let us know your <b>preferences</b>.</ion-text>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  
                  
                      <ion-slides pager="true">
                        <ion-slide *ngFor="let item of arrayOf(1)">
                          <ion-list class="option">
                                <ion-chip outline *ngFor="let item of getSubarray(item)" (click)="selectPreference(item)" [class.selected]="item.selected"> 
                                  <ion-avatar>
                                    <img src="../assets/img/{{item.name.toLowerCase( )}}-flag-round-icon-256.png">
                                  </ion-avatar>                
                                  <ion-label>{{item.name}}</ion-label>
                                </ion-chip>
                              </ion-list>  
                            </ion-slide>  
                      </ion-slides> 
              </ion-grid>
            </ion-slide> 
        </ion-slides>
      </form>
      <ion-grid class="option-buttons">
        <ion-row>
          <ion-col>
            <ion-button expand="block" [disabled]="registerForm.get('email').invalid" *ngIf="showButton[0]" (click)="slideForwardwithEmailCheck(registerForm.get('email'))" class="ion-padding">
              Next
            </ion-button>
            <ion-button expand="block" [disabled]="registerForm.get('first_name').invalid || registerForm.get('last_name').invalid" *ngIf="showButton[1]" (click)="slideForward()" class="ion-padding">
              Next
            </ion-button>
            <ion-button expand="block" *ngIf="showButton[2]" (click)="slideForward()" class="ion-padding">
              Next
            </ion-button>
            
            <ion-button [disabled]="form.invalid" expand="block" *ngIf="showSubmit" (click)="register(form)" class="ion-padding" color="danger">
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-content>
    <ion-footer no-border>
      <ion-toolbar transparent class="option-buttons">
            <ion-button expand="block" [disabled]="registerForm.get('email').invalid" *ngIf="showButton[0]" (click)="slideForwardwithEmailCheck(registerForm.get('email'))" class="ion-padding">
              Next
            </ion-button>
            <ion-button expand="block" [disabled]="registerForm.get('first_name').invalid || registerForm.get('last_name').invalid" *ngIf="showButton[1]" (click)="slideForward()" class="ion-padding">
              Next
            </ion-button>
            <ion-button expand="block" *ngIf="showButton[2]" (click)="slideForward()" class="ion-padding">
              Next
            </ion-button>
            <ion-button expand="block" *ngIf="showButton[3]" (click)="slideForward()" class="ion-padding">
              Next
            </ion-button>
            
            <ion-button [disabled]="form.invalid" expand="block" *ngIf="showSubmit" (click)="register(form)" class="ion-padding" color="danger">
              Submit
            </ion-button>
      </ion-toolbar>
    </ion-footer> -->