<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button color="danger">
            Edit
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button (click)='back()'>
            Back
          </ion-button>
        </ion-buttons>
        <ion-title>Results</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide *ngFor="let item of (results | async)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{ item.name }}
          </ion-card-title>
          <ion-card-subtitle>
            {{item.type}}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <img src="https://bit.ly/2XK8xsM">
          </ion-row>

          <ion-row>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget
            pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci.
            Nam tristique elit massa, quis faucibus augue finibus ac.
          </ion-row>

          <ion-row>
            <ion-col>
              {{item.location}}
            </ion-col>    
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button color='success'>Yes</ion-button>    
            </ion-col>
            <ion-col>
                <ion-button color='danger'>No</ion-button>     
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>