<ion-header>
  <ion-toolbar>
    <ion-title>
      Results
    </ion-title>
    <ion-button (click)='back()'>Back</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title>Food Place</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Food Place 2</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-slide>
            <ion-card>
              <ion-title>Title1</ion-title>  
            </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card>
                <ion-title>Title2</ion-title>
              </ion-card>
            </ion-slide>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <div class="card-title">San Francisco</div>
        <div class="card-subtitle">72 Listings</div>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>


