<ion-grid>
  <ion-row>
    <ion-col size-xs="12" size-sm="4">
      <div id="header">
        <p>
          Ezi Travel
        </p>
      </div>
    </ion-col>
    <ion-col size-xs="12" size-sm="8">
      <div id="form">
        <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="login(form)">
          <div id="test">
          <ion-card>
            <div class="email">
              <ion-text>
                Email
              </ion-text>
              <ion-item>
                <ion-input formControlName="email" type="email" placeholder="your@email.com"></ion-input>
              </ion-item>
            </div>
            <div class="password">
              <ion-text>
                Password
              </ion-text>
              <ion-item>
                <ion-input item-end formControlName="password" [type]="passwordType" placeholder="Password"></ion-input>
                <ion-icon [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
              </ion-item>
            </div>
            <div class="to-remember">
              <ion-label>Remember Me</ion-label>
              <ion-checkbox formControlName="isRemembered" slot="start"></ion-checkbox>
            </div>
          </ion-card>
          <div id="buttons">
            <ion-grid>
              <ion-row>
                <ion-col size="5">
                  <ion-button class="create-user" (click)="this.navCtrl.navigateRoot('register')">
                    Create User
                  </ion-button>
                </ion-col>
                <ion-col size="7">
                  <ion-button class="forgot-password">
                    Forgot Password
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button [disabled]="form.invalid" (click)="login(form)" class="login-button">
                    Login
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          </div>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>